body {
    font-family: sans-serif;
    background-color: gray;
    color: white;
}

.container {
    background-color: rgb(51, 51, 85);
    max-width: 1100px;
    min-height: 100vh ;

    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;  
    padding: 20px;  
}

h1, h2 {
    text-align: center;
    color: white;
}

h2 {
    text-decoration: underline;
    text-decoration-color: cyan;
    text-underline-offset: 16px;
    padding: 30px 0;
}

.cyan {
    color: cyan;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 30px;
}

.right {
    display: flex;
    justify-content: end;
    text-align: center;
    flex-direction: row;
    gap: 2rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: small;
    font-weight: bold;
}

.grey {
    color: silver;
    text-align: center;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 20px 40px;
    margin: 0 auto;
    color: white;
    margin-bottom: 40px;
}

.card {
    align-content: center;
    text-align: center;
    background-color: slategray;
    flex: 1;
    
    height: 90px;
    border-radius: 12px;
    padding: 10px 10px 15px 10px;
}


span {
    color: cyan;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: slategray;
    margin: 45px;
    padding: 10px;
    border-radius: 12px;
}

.small {
    color: silver;
    font-size: small;
}

footer {
    text-align: center;
    font-size: smaller;
    color: silver;
}

img {
    border-radius: 12px;
    box-shadow: 10px 5px 15px 0px rgba(0,0,0,0.3);
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.inputi {
    width: 60%;
    flex: 1;
    margin: 20px 0 20px 40px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea, button {
    background-color: slategray;
    color: white;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder,
textarea::placeholder {
    color: silver;
}

.frame {
    height: 200px;
    width: 500px;
    border: solid 1px gray;
    margin-right: 40px;
}

button {
    background-color: cyan;
    color: black;
    font-weight: bold;
}

.kontakt {
    font-weight: bold;
    color: white;
}

.btn {
    width: 15%;
    display: block;
    margin: 0 auto;
}