body, html {
    height: 100%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
  background-color: white;
  padding-left: 20px;
  border-radius: 8px;
  width: 80%;
  min-width: 300px;
  max-width: 600px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

h1, h2 {
  margin: 0;  
}

.portrait {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
https://t3.ftcdn.net/jpg/05/40/62/46/360_F_540624608_gGfUf4SuPCzzBPA3GPoH6nHphsSEMDeA.jpg
*/