body {
    margin: 0;
}

/* container MUST have height */
#progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #ddd;
    z-index: 1000;
}

/* bar MUST have height */
#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #0070f3;
}

/* just to allow scrolling */
.content {
    height: 3000px;
    padding: 20px;
}
