bpdy {
    background-color: sienna;
    padding: 20px;
}

h1 {
    padding: 15px;
    background-color: white;
    border-radius: 14px;
}

p {
    background-color: gainsboro;
    color: midnightblue;
    border-radius: 8px;
    width: 250px;
    height: 40px;
    padding: 10px;
}