body {
    background-color: lightblue;
    font-family: sans-serif;
}

.container{
    border: 1px solid black;
    width: 90%;
    max-width: 960px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 960px;

    min-height: 155vh ;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: aliceblue;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}


h1 {
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 1.8rem;
    text-underline-offset: 10px;
    padding-left: 4rem;
}

.okvir-1{
    background-color: white;
}



table {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
}


th {
    background-color: blue;
    color: white;
    
}

th, td {
    padding: 10px;
    width: 60%;
    text-align: left;
}

tbody  tr:nth-child(2), tr:nth-child(4){
    background-color: lightgrey;
}

.red {
    color: red;
}