body{
    background-color:#79BAEC;
}

.container{
    width: 90%;
    max-width: 900px;
    min-width: none;
    inline-size: 90%;
    max-inline-size: 900px;

    min-height: 100vh;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: #EBF4FA;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}

.grid{
    display: grid;
    grid-template-columns: 15px 2fr;
    grid-template-rows: 15px 3fr 10px ;
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
    gap: 4rem;
    column-gap: 1rem;
    row-gap: 1rem;
    box-sizing: border-box;
    background-color: white;
}

.a{
    grid-area: a; 
    margin: 10px;
    box-sizing: border-box;
    width:100%;
    text-align: left;
    padding: 12px;
    font-family: 'Times New Roman';
    line-height: 1.6;;
}
.b{
    grid-area: b;
    height: 100%;
    width: 30%;

}
.c{
    grid-area: c;
    box-sizing: content-box;
    width: 100%;
    padding: 60px auto;
    
}
.d{
    grid-area: d;
    background-color: white;
    font-weight: 200;
    margin: 10px;
    width: 20%;
    padding: 10px;
    border: 0;
    border-left: 4px solid silver;
}