body{background-color: silver;}

.container{
    width: 90%;
    max-width: 1000px;
    min-width: none;
    inline-size: 90%;
    max-inline-size: 1000px;

    min-height: 155vh;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: white;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}
