body{
    font-family: Courier, monospace;
    padding: 10px;
}

h1{
    color: blue;
    text-align: center;
}

ul{
    list-style: none;
}
ul li:nth-child(2):before, li:nth-child(3):before {content: '😵‍💫';}
ul li:nth-child(1):before, li:nth-child(4):before, li:nth-child(5):before {content: '😏';}

ol{
    list-style-type: lower-greek;
}
