body{
    font-family: Courier, monospace;
    padding-left: 10px;
}

h1{
    color: blue;
    text-align: center;
    font-family: sans-serif;
}

h3, ul, ol{
    font-family: sans-serif;
}


ul{
    list-style: none;
}
ul li:nth-child(2):before, li:nth-child(3):before {content: '😵‍💫';}
ul li:nth-child(1):before, li:nth-child(4):before, li:nth-child(5):before {content: '😏';}

ol{
    list-style-type: lower-greek;
}
