body {
    background-color: aliceblue;
    font-family: sans-serif;
}

.container {
    width: 90%;
    max-width: 750px;
    min-width: 300px;
    
    min-height: 100vh ;
   
    margin: 0 auto;
    padding: 12px;
    background-color: white;
    box-sizing: border-box;

}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

h3 {
    text-align: center;
    font-style: italic;
    font-family: serif;
    text-decoration: underline;
    text-decoration-color: #ff0066;
    color: lightslategrey;
    text-transform: uppercase;
    text-underline-offset: 1rem;
}

.slovo {
    font-size: larger;
}

.ime {
    text-decoration: underline;
    text-decoration-style: dotted;
}

mark {
    background-color: bisque;
}

.okvir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: aliceblue;

    border-radius: 8px;
    bottom: 1px solid lightgrey;
    margin-bottom: 30px;
}

.okvir img {
    display: block;
    width: 90%;
    padding: 10px 5px;
    margin: 0 auto;
}

.kratica {
    font-weight: bolder;
    color: #ff6600;
}

.okvir-2 {
    padding: 20px;
    border-left: 4px solid dodgerblue;
    margin-bottom: 40px;
}

ol {
    list-style-type: decimal-leading-zero;
}

.kratice {
    font-weight: bolder;
    color: #ff6600;
    line-height: 1.8rem;

}

.html {
    display: block;
    width: 100%;
    margin: 0 auto;

    border-left: 6px solid gold;
    border-radius: 8px;
    
}

.razmak {
    margin-bottom: 40px;
}

.okvir-3 {
    padding: 20px;
    background-color: aliceblue;
    font-family: monospace;
    font-size: larger;
    font-weight: 500;
    border-radius: 8px;
    margin-bottom: 40px;
}

.plavo {
    font-weight: bold;
    font-style: italic;
    color: cornflowerblue;
    font-family: sans-serif;
}

.okvir-4 {
    padding: 20px;
    background-color: rgb(250, 204, 211);
    font-family: serif;
    border-left: 4px solid crimson;
    margin-bottom: 40px;
}

.css {
    text-decoration-style: dotted;
    text-decoration-line: overline ;
    text-decoration-color: #ff6600;
    text-decoration-thickness: 3px;
}

footer {
    text-align: center;
    line-height: 1.5rem;
}

.autor {
    color: #ff6600;
    font-weight: bold;
}

.mail {
    text-decoration:underline;
    text-decoration-style: wavy;
    text-decoration-color: dodgerblue;
}

.end {
    font-size: smaller;
}