body {
    background-color: antiquewhite;
}
h1 {
    color: chartreuse;
    text-align: center;
}
#sadrzaj p{
    font-family: sans-serif;
    color: blueviolet;
}
ul{
    list-style: none;
    
}
ul li::before {
    content: '❤️';
}
ol {
    list-style-type: armenian;
}