body {
    background-color: whitesmoke;
    font-family: sans-serif;
}


.okvir {
    background-color: white;
    width: 20%;   /*ovo je širina pozadine*/
    
    border-radius: 8px;
    margin: 0 auto;
    text-align: center;
}

.ikona {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

form {
    padding: 30px 10px;
    
}

.omotac {
    padding-top: 5px;
    padding-bottom: 5px;  
    margin-bottom: 6px;
    
}

label {
    margin-bottom: 20px;
    line-height: 30px;
    
    font-size: 15px;
}

input {
    border-radius: 6px;
    border: 1px solid lightgray;
    width: 91%;
    padding: 10px;
}



.gumb {
    color: white;
    background-color: royalblue;
    width: 100%;
    padding: 10px 20px;

    border-radius: 6px;
    border: none;

    font-weight: bold;
    font-size: small;
    
    margin-bottom: 10px;
}


     /*jedini način da se centrira ulijevo - resetirati label/input */


.kvaka {
    text-align: left;
}

.kvaka input {
    all: unset;
    appearance: checkbox;
    -webkit-appearance: checkbox;
    justify-items: left;
    display: inline-block;
}

.kvaka label {
    white-space: nowrap;    
   
}  



caption {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}


table {
    margin: 0 auto;
    width: 600px;
}

table, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid lightgrey;

    text-align: left;
    padding: 10px;
}


th {
    text-transform: uppercase;
    font-weight: bold;
    background-color: aliceblue;
}


td {
    font-weight: 600;
    background-color: white;
}

.zeleno {
    color: green;
}

.crveno {
    color: red;
}

.footer {
    text-align: center;
    font-weight: 400;
    font-size: small;
}