p{
    color: blue;
    font-family: Arial, sans-serif;
}
.box{
    background-color: yellow;
    padding: 10px;
    margin: 5px, 0;
    border: 1px, solid black;
}
#naslov{
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}
