.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px ;
    background-color: #222;
    color: #fff;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 12px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
}