body {
    background-color: aliceblue;
    font-family: sans-serif;
}

.container {
    margin: auto;
    width: 960px;

    display: grid;
    grid-template-areas: "a b c d";
    column-gap: 1rem;

}

.a {grid-area: a;}
.b {grid-area: b;}
.c {grid-area: c;}
.d {grid-area: d;}

.panel {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: white;
    text-align: center;

    display: grid;
    grid-template-rows: auto auto 1fr auto;
    
}



h2 {
    font-size: 1.5rem;
    font-weight: 800;
    
}

.zeleno {
    color: green;
    font-weight: 800;
    font-size: 1.5rem;
    
}

button {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    border: 0 solid lightgray;
    border-radius: 5px;
    padding: 7px;
}


