body{
    background-color: skyblue;
    background-image: radial-gradient(ellipse, red, 1px, transparent 1px);
    background-size: 25px 25px;
    background-repeat: repeat;
    background-attachment: fixed;
    
}
section{
    padding: 10px;
    font-family: sans-serif;
    padding-left: 10px;
    margin: 20px;
    
}

h1{
    color: green;
    text-align: center;
    font-family: sans-serif;
    padding-top: 20px;
}

hr{color: black; width: 80%; height: 2px;}

.former{
    text-align: right;
    padding-right: 15px;
    color: brown;
    
}

.box{
    display: block;
    background-color: peachpuff;
    margin: 10px;
    padding: 25px;
    width: 30%;
    border-left: 5px solid darkviolet;
    font-family: Arial, sans-serif;
    color: brown;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
}

.flex{
    display: flex;
    background-color: slateblue;
    color: gainsboro;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    gap: 3rem;
    border: black solid ;
    padding: 10px;
    border-radius: 10px;    
}

.okvir{
    background-color: papayawhip;
    color: whitesmoke;
    -webkit-text-stroke: 1px red;
    font-family: sans-serif;
    width: 40%;
    box-sizing: content-box;
    font-weight: bold;
    display: inline-block;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    margin: 35px;
    border: solid grey 2px;
    border-radius: 8px;
    padding: 15px;
    
    
}
.podokvir{
    display: inline-block;
    transform: skewX(30deg);
}

u{
    text-decoration: wavy underline;
    text-decoration-color: red;
}

.okret{
    display: inline-block;
    transform: rotate(180deg);
}

caption{
    box-sizing: border-box;
    border: 1px solid mediumvioletred;
    border-bottom: none;
    background-color: antiquewhite;
    padding: 10px;
    font-family: serif;
    font-weight: bolder;
    text-align: center;
    color: blueviolet;
}

table{width: 100%; height: 60vh;}

table, th, td{
    border: 1px solid maroon;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

tr:nth-child(2), tr:nth-child(4),tr:nth-child(6),tr:last-child{
    background-color: gainsboro;
}
thead th{
    background-color: blanchedalmond;
    text-transform: uppercase;

}
tbody td:first-child{
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

tbody td span{
    background-color: antiquewhite;
    font-family: Courier, monospace;
}
tbody tr:hover{
    background-color: mediumpurple;
}





.former{
    color: darkviolet;
    font-display: block;
    text-align: left;
    

}

.latter{
    color: darkorchid;
    font-display: block;
    text-align: right;

}

.link1{
    color: darkmagenta;
    padding-left: 5px;
    text-decoration-color: darkseagreen;
    text-align: left;
}

.link2{
    color: orangered;
    padding-left: 10px;
    text-decoration: none;
    text-align: right;
}