body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

.container {
    width: 100%;
    max-width: 1000px;
    min-height: 100vh ;
   
    margin: 0 auto;
    
    background-color: lightgray;
    box-sizing: border-box;
}

.header {
    background-color: white;
    padding: 20px 10px;
    border-radius: 12px;
    margin-bottom: 10px;
    margin-top: 20px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.title {
    color: white;
    background-color: crimson;
    border-radius: 22px;
    width: 15%;
    display: block;
    padding: 10px 15px;
    margin: 0 auto;
    text-align: center;
}


.img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;    
}

img {
    width: 95%;          
    height: 300px;       
    object-fit: cover;   
    border-radius: 16px;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;  

}

.prep, .ing {
    font-weight: bold;
}

.prep::before {
    content: "👨🏼‍🍳";
}

.ing::before { 
    content: "🛒";
}

li {
    font-size: small;
    font-weight: bold;
}


.ingredients {
    
    background-color: white;
    padding: 20px 0;
    border-radius: 16px;
    
    line-height: 1.8rem;
    text-align: left;
    justify-content: flex-start;
    padding: 10px;
    padding-bottom: 20px;
}

.preparation {    
    background-color: white;
    padding: 20px 0;
    border-radius: 16px;
    
    line-height: 1.8rem;
    text-align: left;
    justify-content: flex-start;
    padding: 10px;
    padding-bottom: 20px;
}

.ingredients,
.preparation {
    width: 50%;
    flex: 1;
    min-width: 0;
}

.reds {
    color: crimson;
}



.footer {
    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    border-radius: 12px;
    padding: 20px 0;
}

.footer h5 {
    margin: 0;
}

.stars {
    direction: rtl; 
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

input[type="radio"] {
  display: none; 
}

label.stars {
  color: gray; 
  cursor: pointer;
}

input[type="radio"]:checked ~ label.stars {
  color: gold; 
}

input[type="radio"]:checked ~ label.stars ~ label.stars {
  color: gold; 
}

input[type="radio"]:not(:checked) ~ label.stars {
  color: gray; 
}

label.stars:hover,
label.stars:hover ~ label.stars {
  color: gold; 
}