body {
    font-family: sans-serif;
     background-color: #2c3e50;
}

/*MORA IMATI KONTEJNER JER FLEX-KARTICE POSTANU PLOČE*/

.container {
    width: 100%;
    max-width: 1000px;
    min-height: 100vh ;
   
    margin: 0 auto;
    /* padding: 24px; */

    background-color: white;
    box-sizing: border-box;

}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: dimgray;
}

.logo {
    color: orange;
    font-weight: bold;
    padding: 10px 0 0 25px;
    padding-left: 25px;
}

.linkovi {
    display: flex;
    justify-items: right;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
    gap: 1rem;
    padding-right: 25px;
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.naslov {
    background-color: black;
    text-align: center;
    padding: 85px 0;
}

h1 {
    color: white;
}

h5 {
    color: silver;
}

button {
    background-color: orange;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 12px;
}


.usluge {
    max-width: 1000px;
    margin: 0 auto;
 
    padding: 20px 40px;
    text-align: center;
    color: black;
}

.subtitle {
    color: black;
    font-size: smaller;
}

.kartice {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
}


.kartica {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    border-left: 2px solid orange;
    background-color: whitesmoke;
    border-radius: 8px;

    padding: 10px 20px;
    flex: 1;
}

.columns {
    columns: 2;
    column-rule: 1px solid silver;
    padding: 20px ;
    text-align: justify;
    margin: 0 20px;
}

table {
    margin: 0 auto;
    text-align: left;
    width: 90%;
}

caption {
    text-align: left;
    font-weight: bolder;
    padding-bottom: 20px;
}

th {
    background-color: #2c3e50;
    color: white;
}

th, td {
    padding: 10px;
    font-size: small;
        
}

tr:nth-child(2) > td, tr:nth-child(4) > td {
    background-color: whitesmoke;

}

table, th, td {
    border-collapse: collapse;
}

table td:not(:first-child):not(:last-child) {
  border-left: none;
  border-right: none;
}

table td:first-child {
  border-left: 2px solid whitesmoke;
}


table td:last-child {
  border-right: 2px solid whitesmoke;
}



.okvir {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: whitesmoke;
}


form {width: 55%;}

legend {
    color: orange;
    font-weight: bolder;
    border: 1px solid whitesmoke;
}

fieldset {
    border-radius: 8px;
    background-color: white;
    
}
            /* PORAVNANJE CHECKBOX I TEKSTA */
.kvaka input {
    all: unset;
    appearance: checkbox;
    -webkit-appearance: checkbox;
    justify-items: left;
    display: inline-block;
}

.kvaka {
    text-align: left;
    justify-items: center;
}



button{
    text-align: center;
    color: black;
    box-sizing: border-box;
    width: 25%;
    padding: 15px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    border: none;
    margin-bottom: 40px;
    
}

.btn-lower {
    width: 100%;
}

form label{
    text-align: left;
    font-weight: bold;
    display: flex;
    width: 100%;
    
}

form input{
    text-align: left;
}

.range {
    all: unset;
    font-weight: bold;
}

input[type="range"] {
    touch-action: pan-y;
    width: 100%;
    accent-color: crimson;
}




.termin {
    font-size: small;
}

.text, .mymenu {width: 300px;

}


.footer {
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
    font-size: smaller;
    background-color: #2c3e50;
    padding: 10px;
}

.footer a {
    color: orange;
}


.linija{
    border: none;
    height: 1px;
    background-color: #C0C0C0;
    
    
}
.copywrite{
    color: grey;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: xx-small;
}

.velki-okvir {
    resize: vertical;
    min-height: 60px;
    min-width: 100%;
}
