body {
    background-color: lightblue;
    font-family: sans-serif;
}

.container{
    border: 1px solid black;
    width: 90%;
    max-width: 960px;
    min-width: 300px;
    inline-size: 90%;
    max-inline-size: 960px;

    min-height: 155vh ;
    min-block-size: 155vh;

    margin: 0 auto;
    background-color: aliceblue;

    box-sizing: border-box;

    outline-width: 2px;
    outline-style: none;
    outline-offset: 10px;
}


h1 {
    text-decoration: underline;
    text-decoration-color: blue;
    font-size: 1.8rem;
    text-underline-offset: 10px;
    padding-left: 4rem;
}

.okvir {
    background-color: white;
    padding: 20px;
    margin: 0 40px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.unos {
    display: flex;
    flex-direction: column;
    
}


input, select  {
    width: 90%;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid #18668c;
}

input[type="submit"]{
    background-color: rgb(20, 168, 20);
    color: white;
    border-radius: 6px;
    border: none;
    padding: 8px;
    width: 20%; 
    margin-top: 10px;
    padding: 10px;
    
}

label {
    font-weight: bold;
    padding-top: 10px;
}

table {
    width: 85%;
    margin: 0 auto;
    padding: 20px;
    table-layout: fixed;
}


th {
    background-color: blue;
    color: white;
    font-weight: bold;
}

th, td {
    padding: 10px;
    text-align: left;
   
}

tbody  tr:nth-child(2), tr:nth-child(4){
    background-color: lightgrey;
}

.red {
    color: red;
}