body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

.container {
    width: 100%;
    max-width: 1000px;
    min-width: 450px;
    
    min-height: 155vh ;
   
    margin: 0 auto;
    background-color: #ecf0f1;
    /* box-sizing: border-box; */

}


header {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    

}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
    color: #d35400;
    font-weight: bold;
}

.okvir {
    display: block;
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
}

hr {
    width: 100%;
    border: 1px solid #dcdde1
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 2px solid #3498d8;
    background-color: #dcdde1;
}

.card {
    display: block;
    padding: 20px 10px;
    margin: 40px 10px;
    width: 30%;
    gap: 1rem;

    color: #ffffff;
    background-color: #3498d8;
    font-weight: bold;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "a a"
    "b c"
    "d d";
    gap: 10px;
    
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #2bcdb1;

}

.a {grid-area: a; background-color: #2bcdb1;}
.b {grid-area: b; background-color: #2ecc71;}
.c {grid-area: c; background-color: #2c3e50;}
.d {grid-area: d; background-color: #2bcdb1;}

.a, .b, .c, .d {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

span {
    font-family: monospace;
}



footer {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    height: 50px;
}