.header {
    text-align: center;
    color: #5a2d0c;
    background-color: #ffebcd;
    padding: 20px;
    font-weight: bold;
}

.menu-list {
    background-color: "#e6e6fa";
    padding: 20px;
}

.menu-item{
    display: block;
    font-size: 18px;
    color: firebrick;
}

body {
    font-family: Helvetica, sans-serif;
}

.coffee-image {
    margin-right: 20px;
    margin-top: 15px;
    width: 100px;
    position: relative;
    z-index: 2;
    float: right;   
}